*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ubuntu-bold;
    src: url('assets/fonts/Ubuntu-Bold.ttf')format('truetype');
}

@font-face {
    font-family: ubuntu-medium;
    src: url('assets/fonts/Ubuntu-Medium.ttf')format('truetype');
}

@font-face {
    font-family: ubuntu-regular;
    src: url('assets/fonts/Ubuntu-Regular.ttf')format('truetype');
}

body {
    background-image: url('assets/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

form {
    display: flex;
    overflow-x: hidden;
    gap: 1rem;
}

input {
    background: none;
    border: none;
}

button {
    background: none;
    border: none;
}

#input-name-user {
    text-transform: capitalize;
}

[class^="fieldset-step"] {
    border-radius: 0.75rem;
    height: max-content;
    min-width: calc(100vw - 2rem);
    border: none;
    padding: 2rem;
    background-color: var(--alabaster);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fieldset-step-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-inputs-personal-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personal-info-container > legend {
    font-family: var(--font-400);
    color: var(--marine-blue);
    text-transform: capitalize;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.personal-info-container > input {
    padding: 0.5rem;
    border: 1px solid var(--cool-gray);
    width: 100%;
}

.personal-info-container > input::placeholder {
    font-family: var(--font-700);
    color: var(--cool-gray);
    text-transform: lowercase;
}

[class^="title"] {
    font-family: var(--font-700);
    color: var(--marine-blue);
    font-size: 1.5rem;
}

[class^="title"]::first-letter {
    text-transform: capitalize;
}

fieldset > .paragraph {
    font-family: var(--font-500);
    color: var(--cool-gray);
}

fieldset > .paragraph::first-letter {
    text-transform: uppercase;
}

:root {
    --marine-blue: hsl(213deg 96% 18%);
    --purplish-blue: hsl(243deg 100% 62%);
    --pastel-blue: hsl(228deg 100% 84%);
    --light-blue: hsl(206deg 94% 87%);
    --strawberry-red: hsl(354deg 84% 57%);

    /* neutral */
    --cool-gray: hsl(231deg 11% 63%);
    --light-gray: hsl(229deg 24% 87%);
    --magnolia: hsl(217deg 100% 97%);
    --alabaster: hsl(231deg 100% 99%);
    --white: hsl(0deg 0% 100%);

    /* fonts */
    --font-400: ubuntu-regular, sans-serif;
    --font-500: ubuntu-medium, sans-serif;
    --font-700: ubuntu-bold, sans-serif;

}

.main {
    overflow-y: hidden;
    margin: 0 1rem;
    border-radius: 0.75rem;
}

.container-steps {
    display: flex;
    gap: 1rem;
    align-self: center;
    margin: 2rem 0;
    font-family: var(--font-500);
}

[class^="step"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: var(--white);
    outline: 1px solid var(--white);
}

.step-1 {
    background-color: var(--light-blue);
}

.container-thankyou {
    display: none;
}

.container-buttons-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--alabaster);
    display: flex;
    flex-direction: row-reverse;
    padding: 1.25rem;
    justify-content: space-between;
}

[class^="button-footer"] {
    border-radius: 0.25rem;
    text-transform: capitalize;
    padding: 0.8rem 1rem;
    font-size: 1rem;
}

.button-footer-next {
    color: var(--alabaster);
    background-color: var(--marine-blue);
}

.button-footer-back {
    color: var(--cool-gray);
}

.button-footer-confirm {
    display: none;
}

.container-buttons-select-plan {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-plan {
    outline: 2px solid var(--cool-gray);
    border-radius: 0.5rem;
    display: flex;
    padding: 1rem;
    text-align: left;
    gap: 1rem;
}

.button-plan:focus {
    outline: 2px solid var(--purplish-blue);
}

.plan-item-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.plan-item-container > input {
    font-family: var(--font-500);
    color: var(--cool-gray);
}

.plan-item-container > label {
    font-family: var(--font-700);
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--marine-blue);
}

.plan-item-container > span {
    font-family: var(--font-400);
    color: var(--marine-blue);
}

.container-range-plan {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--light-blue);
    border-radius: 0.5rem;
}

.icon-plan {
    min-width: 40px;
}

[class$="text"] {
    text-transform: capitalize;
    font-family: var(--font-500);
}

.monthly-text {
    color: var(--marine-blue);
}

.yearly-text {
    color: var(--cool-gray);
}

.input-range-plan {
    width: 3.125rem;
    accent-color: var(--white);
}

.input-range-plan::-webkit-slider-runnable-track {
    background-color: var(--marine-blue);
    padding: 0.3rem;
    border-radius: 1rem;
}

.checkmark {
    background-color: var(--purplish-blue);
    padding: 5px;
    border-radius: 3px;
}

.hidden {
    display: none;
}